/*fonts*/

@font-face {
  font-family: 'gidoleregular';
  src: url('gidole-regular-webfont.woff2') format('woff2'),
       url('gidole-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'wc_roughtrad_btaregular';
  src: url('wc_roughtrad-webfont.woff2') format('woff2'),
       url('wc_roughtrad-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*elements including jobot reset: working edition*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'gidoleregular', Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5; /*more readable*/
  -webkit-font-smoothing: antialiased; /*better text rendering*/
  display: flex;
}

div {
  /* border: 1px solid blue; */
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /*no text overflow of URLs or very long words*/
}

p {
  text-wrap: pretty; /*prevent orphaning*/
  margin: 1em 0em 0em 0em;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance; /*no short lines, orphaned words*/
}

input, button, textarea, select {
  font: inherit; /*inherit fonts for form controls*/
}

input {
  width: 100%;
}

button {
  padding: .7rem 2.3rem;
  border-radius: .3rem;
  font-size: .8rem;
  color: white;
  background-color: rgb(76, 69, 88);
}

button:hover {
  background-color: rgb(148, 141, 160);
}

label {
  font-size: .75rem;
  color: rgb(85, 80, 80);
}

input {
  margin-bottom: .8em;
  width: 20rem;;
  /* width: clamp(20rem, 15vw, 30rem); */
}

fieldset, /*main-div padding*/
/* legend, */
#explain-services-div,
#create-account-div {
  padding: clamp(1rem, 5%, 3rem);
}

legend {
  border: none;
  position: absolute;
  top: clamp(2rem, 5%, 3rem);
}

fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: none;
  padding-top: clamp(5rem, 11%, 8rem);
}


/*IDs: sidebar*/

#sidebar-div {
  font-family: 'wc_roughtrad_btaregular', Arial, Helvetica, sans-serif;
  max-width: 30vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

img#toad-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 15vh;
  width: 100%;
  height: fit-content;
  z-index: 5;
  padding: clamp(1rem, 5%, 3rem) clamp(2rem, 20%, 5rem);
  background-color: rgba(0, 0, 0, 0.5);
}

img#toad-logo {
  color: white;
  width: clamp(3rem, 8vw, 10rem);
  /* height: 50%; */
  object-fit: contain;
  flex: 0 1 auto;
  margin-right: clamp(1rem, 3%, 2rem);
}

#logo-words {
  flex: 0 1 auto;
  /* width: clamp(100px, 30%, 100px); */
}

#logo-words > h1 {
  line-height: 1.1;
  font-size: clamp(1rem, 2vw, 2rem);
  color: white;
}

#logo-words #toad {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

/*IDs: main*/

#main-container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

}

#explain-services-div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: (3rem, 15vw, 20rem);
}

/* #form-div {
  justify-content: center;
} */

#name-div, 
#contact-div, 
#password-div {
  display: flex;
  /* justify-content: ; */
  flex-wrap: wrap;
  /* max-width: 60vw; */
  
}

#name-div > div, 
#contact-div > div, 
#password-div > div {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto; 
  margin-right: clamp(1rem, 5%, 3rem);;
}

#create-account-div {
  padding-top: 1rem;
}

