/*fonts*/

@font-face {
  font-family: 'gidoleregular';
  src: url('fonts/gidole-regular-webfont.woff2') format('woff2'),
       url('fonts/gidole-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wc_roughtrad_btaregular';
  src: url('fonts/wc_roughtrad-webfont.woff2') format('woff2'),
       url('fonts/wc_roughtrad-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*elements including jobot reset: working edition*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5; /*more readable*/
  -webkit-font-smoothing: antialiased; /*better text rendering*/
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /*no text overflow of URLs or very long words*/
}

p {
  text-wrap: pretty; /*prevent orphaning*/
  margin: 1em 0em 0em 0em;
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance; /*no short lines, orphaned words*/
}

input, button, textarea, select {
  font: inherit; /*inherit fonts for form controls*/
}

button {
  padding: .7rem 2.3rem;
  border-radius: .3rem;
  color: white;
  background-color: rgb(76, 69, 88);
}

button:hover {
  background-color: rgb(148, 141, 160);
}

a {
  color: rgb(76, 69, 88);
}

a:hover {
  color:rgb(148, 141, 160)
}

label {
  color: rgb(85, 80, 80);
}

input {
  margin-bottom: .8em;
  width: 20rem;;
  padding-left: .3rem;
  border: 1px solid rgb(148, 141, 160);
  border-radius: .2rem;
  height: 2rem;
}

::placeholder {
  color: rgb(167, 165, 173);
}

input:user-valid {
  outline: 2px solid rgb(76, 69, 88); 
}

input:user-invalid {
  outline: 2px solid red;
  background-color: rgb(233, 224, 224);
}

input:valid:focus,
input:invalid:focus,
input:focus {
  outline: 2px solid rgb(79, 3, 201);
  box-shadow: .1rem .2rem .5rem rgb(148, 141, 160);
}


legend {
  border: none;
  position: absolute;
  font-size: 1.6rem;
  top: clamp(2rem, 5%, 3rem);
  margin-left: -.1rem;
}

form > fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: .1rem .1rem .6rem rgb(174, 168, 184);
  padding-top: 6rem;
}

footer {
  font-family: 'gidoleregular', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: .5rem; 
  height: 2rem;
  text-align: center;
  text-wrap: nowrap;
}

 
/*main-div padding*/

fieldset,
#explain-services-div,
#create-account-div,
#footer {
  padding: clamp(1rem, 5%, 3rem);
}

#body-div {
  display: flex;
}


/*IDs: sidebar*/

#sidebar-div {
  font-family: 'wc_roughtrad_btaregular', Arial, Helvetica, sans-serif;
  max-width: 30vw;
  min-height: 96vh;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}

img#toad-photo {
  width: 110%;
  height: 110%;
  object-fit: cover;
  object-position: absolute;
  top: 0;
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: clamp(11vh, 30rem, 13vh);
  top: 11vh;
  width: 100%;
  height: fit-content;
  z-index: 5;
  padding: clamp(1.5rem, 5%, 3rem) ;
  background-color: rgba(0, 0, 0, 0.5);
}

img#toad-logo {
  color: white;
  width: clamp(4rem, 4vw, 6rem);
  object-fit: contain;
  flex: 0 1 auto;
}

#logo-words {
  font-family: 'wc_roughtrad_btaregular';
  flex: 0 1 auto;
}

#logo-words > h1 {
  line-height: 1.1;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  color: white;
}

#logo-words #toad {
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
}


/*IDs: main*/

#main-container-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-width: 70vw;
  background-color: rgb(237, 235, 240);
  font-family: 'gidoleregular', Arial, Helvetica, sans-serif;
}

#explain-services-div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: -3rem;
}

#explain-services-div > div {
  max-width: 100ch;
}

#name-div, 
#contact-div, 
#password-div {
  display: flex;
  /* flex-wrap: wrap; */  /*use later for mobile optimization?*/ 
}

#name-div > div, 
#contact-div > div, 
#password-div > div {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto; 
  margin-right: clamp(1rem, 5%, 3rem);;
}

#create-account-div {
  padding-top: 1rem;
}

#create-account-div > p {
  display: flex;
  flex-wrap: wrap;
}

#create-account-div > p > span {
  text-wrap: nowrap;
}


